// Breakpoints

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;

// Colors

$primary-color: #151515;
$secondary-color: #D5966C;
$terciary-color: #444444;
$white-color: #FFFFFF;

// Tipography

$title-font: "Big Shoulders", sans-serif;
$subtitle-font: "Outfit", sans-serif;